.container {
  width: 100%;
  height: 100vh;
  background-color: #f9f0ff;
  position: relative;
  z-index: 0;
}
.container::after {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../assets/images/background-pattern-mobile.svg") bottom
    center/cover no-repeat;
  z-index: -1;
}
.accordion {
  width: 300px;
  background-color: #ffffff;
  margin: auto;
  z-index: 1;
  position: absolute;
  top: 138px;
  left: 3%;
  right: 3%;
  padding: 1rem;
  border-radius: 10px;
}
.accordion_intro {
  display: flex;
  margin: .8rem 0rem;
}

.accordion_star {
  width: 22px;
  height: 22px;
  margin-right: 1rem;
  margin-top: 0.3em;
}
.accordion_title {
  font-size: 26px;
  color: #2f1533;
}
.panel {
  width: 100%;
  margin: 1.5rem 0rem;
}

@media (min-width: 426px) {
  .container::after {
    background: url("../assets/images/background-pattern-desktop.svg") bottom
      center/cover no-repeat;
  }
  .accordion {
    width: 35%;
  }
}
